* {
    margin: 0;
    padding: 0;
}


.contenedor {
    background-color: black;
    display: flex; /* Contenedor Flexible */
    /*flex-direction: row;*/
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 800px;
    align-items: center;
}

.elemento {
    background-color: orange;
    width: 50px;;
    
}

.contenedor-2 {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 800px;
    align-items: center;
}

.img {
    width: 500px;

}